{% load static %}
<div class="container" style="margin-top: 50PX;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">DEPARTMENT</th>
            <th scope="col">ROLE</th>
            <th scope="col">DATE_JOINED</th>

          </tr>
        </thead>
        <tbody>
            {% for i in res  %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.department}}</td>
            <td>{{i.role}}</td>
            <td>{{i.date_joined}}</td>
            <td><a href="{% url 'emp_delete' id=i.id %}"><button style="background-color:red;border-radius:10px;color:white;width:100px;height:35px">delete</button></a></td>
            <td><a href="{% url 'emp_update' id=i.id %}"><button style="background-color:blue;border-radius:10px;color:white;width:110px">Update</button></a></td>

    
    
          </tr>
          {%endfor%}
        </tbody>
        
      </table>
    </div>